window-rule {
  draw-border-with-background false
  geometry-corner-radius 4
  clip-to-geometry true
}

window-rule {
  match is-active=false
  opacity 0.85
}

window-rule {
  match is-floating=true
  shadow {
    on
  }
}

window-rule {
  match app-id="mpv"
  // default-column-width {}
  // open-floating true
}

window-rule {
  match app-id="foot"
}

window-rule {
  match app-id="foot-float"
  open-floating true
}
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

window-rule {
  match title="PIP 모드"
  open-floating true
  // default-column-width {}
  // default-column-width { proportion 0.25; }
  // // max-height { proportion 0.7; }
  // // default-floating-height 300
  max-height 270
  default-floating-position x=10 y=10 relative-to="bottom-right"

  opacity 1.0
}
